[Unit]
Description=Collect VPS metrics every 10 seconds
[Timer]
OnBootSec=15
OnUnitInactiveSec=10
AccuracySec=1s
Persistent=true
[Install]
WantedBy=timers.target
